html {
  background: url(images/wtfbet.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#content {
  margin-left: 10%;
  margin-right: auto;
  width: 20%;
}

#greeting-container {
  margin-top: 20px;
}
